/*Basic Elements*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

/* Navigational Elements*/

header{
    display: inline-flex;
    position: fixed top;  
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
}

.logo{
    margin: 10px;
    width: 30%;
}

.navigation{
    width: 70%;
    display: inline-flex;
    text-decoration: underline;
    align-items: center;
    justify-content: flex-end;
}

.navigation .item{
    padding: 0 10px;
    margin-right: 10px;
}

a:hover{
    color: blue;
    font-weight: 900;
}

/*First Section*/

.hero{
    background-image: url(../Images/img-mission-background.webp);
    height: 700px;
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
}

.Mission{
    background-color: black;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.Mission h2, h4{
    padding: 15px;
    text-align: center;
}

/*Second Section*/

.intro{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro h2, h4{
    padding: 15px;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images .column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.column img{
    width: 300px;
    height: 200px;
    margin: 10px;
}

/*Location Section*/

.Location{
    background-image: url(../Images/img-locations-background.webp);
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Location h1{
    margin-top: 50px;
    margin-bottom: 15px;;
}

.container-info{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.container-info .column{
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0 20px 100px 0;
    width: 300px;
    align-items: center;
}

.container-info .column h3, p{
    margin: 20px 0;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.contact h2{
    margin-bottom: 30px;
    margin-top: 10px;;
}

.contact address{
    margin: 10px;
}

.copyright{
    margin: 40px 0 20px 20px;
}
